<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .container {
     max-width: 560px;
     }
     .field-error {
     border-color: #dc3545;
     color: #dc3545;
     }
</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/members/edit" th:action th:object="${memberForm}"
          method="post">
        <div class="form-group">
            <label th:for="loginId">아이디</label>
            <input type="text" th:field="*{loginId}" class="form-control"
                   placeholder="아이디를 입력하세요" readonly>
        </div>
        <div class="form-group">
            <label th:for="password">비밀번호</label>
            <input type="password" th:field="*{password}" class="form-control"
                   placeholder="비밀번호를 입력하세요"
            th:errorclass="field-error">
            <p class="field-error" th:errors="*{password}" />
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" class="form-control"
                   placeholder="이름을 입력하세요"
                   th:class="${#fields.hasErrors('name')}? 'form-control
field-error' : 'form-control'">
            <p th:if="${#fields.hasErrors('name')}"
               th:errors="*{name}" class="field-error">Incorrect date</p>
        </div>
        <div class="form-group">
            <label th:for="city">도시</label>
            <input type="text" th:field="*{city}" class="form-control"
                   placeholder="도시를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="street">거리</label>
            <input type="text" th:field="*{street}" class="form-control"
                   placeholder="거리를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="zipcode">우편번호</label>
            <input type="text" th:field="*{zipcode}" class="form-control"
                   placeholder="우편번호를 입력하세요">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>